* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}

.header {
  grid-column: 1/3;
  grid-row: 1/2;
}

.main {
  grid-column: 1/3;
  grid-row: 2/3;
}

.footer {
  grid-column: 1/3;
  grid-row: 3/4;
  text-align: center;
  margin-top: 50px;
}

.padre {
  display: grid;
  grid-template-columns: 600px 600px;
  column-gap: 20px;
  justify-content: center;
  grid-template-areas: "hijo1 hijo2";
}
@media (max-width: 768px) {
  .padre {
    max-width: 768px;
    display: flex;
    flex-direction: column;
  }
}

.hijo1 {
  margin-top: 50px;
  display: flex;
  justify-content: end;
  grid-area: "hijo1";
}
@media (max-width: 768px) {
  .hijo1 {
    max-width: 768px;
    flex-direction: column;
  }
}

.hijo2 {
  text-align: center;
  margin-top: 100px;
  grid-area: "hijo2";
}

.ubi {
  display: flex;
  align-items: center;
}

.mapa {
  width: 500px;
  height: 500px;
  margin-top: 100px;
  margin-left: 700px;
}
@media (max-width: 768px) {
  .mapa {
    margin-top: 20px;
    margin-left: 150px;
  }
}

.ubit {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .ubit {
    margin-left: 30px;
    margin-top: 80px;
  }
}

.cajas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.caja {
  width: 400px;
  height: 400px;
  background-color: rgb(37, 15, 51);
  margin: 10px;
  padding: 15px;
  border: 2px solid #df55aa;
  border-radius: 5px;
}
.caja h5 {
  color: #f5f5f5;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.caja .imagentatto {
  object-fit: cover;
  width: 100%;
  height: 80%;
}
.caja .botonazo {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #dd95d1;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer .socialmedia {
  display: flex;
  justify-content: center;
}
.footer .socialmedia img {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 100px;
}

.formulario input {
  background-color: #dd95d1;
  border: none;
  border-bottom: 2px solid #f5f5f5;
}

.formulario input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #f5f5f5;
}

.formulario {
  width: 400px;
  height: 400px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;
  color: antiquewhite;
  background-color: #dd95d1;
  display: grid;
  row-gap: 5px;
  column-gap: 20px;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-areas: "label-nombre" "input-nombre" "label-apellido" "input-apellido" "label-tel" "input-tel" "label-email" "input-email" "label-terminos" "input-terminos" "btn" "btn";
}

.formulario label:nth-child(1) {
  grid-area: label-nombre;
}

.formulario input:nth-child(2) {
  grid-area: input-nombre;
  text-align: center;
}

.formulario label:nth-child(3) {
  grid-area: label-apellido;
}

.formulario input:nth-child(4) {
  grid-area: input-apellido;
  text-align: center;
}

.formulario label:nth-child(5) {
  grid-area: label-tel;
}

.formulario input:nth-child(6) {
  grid-area: input-tel;
  text-align: center;
}

.formulario label:nth-child(7) {
  grid-area: label-email;
}

.formulario input:nth-child(8) {
  grid-area: input-email;
  text-align: center;
}

.formulario label:nth-child(9) {
  grid-area: label-terminos;
}

.formulario input:nth-child(10) {
  grid-area: input-terminos;
  text-align: center;
}

.formulario button:nth-child(11) {
  grid-area: btn;
  background-color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

button[type=submit] {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
